*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
    
    
}
a {
    text-decoration: none;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: #7E7F86;
font-size: 20px;
font-weight: 500;
}
/* HEADER */
/* ADAM */
.adam {
    margin: 60px 30px;
    display: flex;
    justify-content: space-between;
}
.adam-left h2 {
    color: #666;
font-weight: 500;
line-height: 120%; /* 28.8px */
margin: 0 30px;
}
.adam-left h1 {
    color: #25202F;
font-size: 60px;
font-weight: 700;
line-height: 120%;
margin: 30px 30px; 
}
.adam-left h3 {
    color: #25202F;
font-size: 24px;
font-weight: 400;
margin: 0 30px;

}
.adam-left button {
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 500;
border-radius: 100px;
background: #8643DC;
width: 200px;
height: 60px;
margin:40px 30px;
animation: button 1.5s infinite;
}
@keyframes button{
    0%{
        transform: rotate(360deg);
    }
    /* 50%{ */
        transform: translatey(100px);
    }
    70%{
        transform: rotate(360deg);
    }
/* } */
.menu {
    position: absolute;
    top: 50px;
    right: 180px;
    animation: menu 2s infinite;
}
@keyframes menu{
    0%{
transform: translatey(200px);
    }
    25%{
        transform: rotateY(300px);
    }
}
.dot {

    position: absolute;
    right: 590px;
    top: 20px;
}
.main-img {
    position: relative;
    right: 60px;
    bottom: 30px;
    animation: img 2s infinite;
}
@keyframes img{
    0%{
transform: translateX(300px);
        
    }
}
.dot1 {
    position: absolute;
    right: 600px;
    top: 200px;
}
.line {
    position: absolute;
    right: 360px;
    top: 500px;
    background: #000;
    animation: line 2s infinite;
}
@keyframes line{
    0%{
        transform: translateX(300px);
    }
    25%{
        transform: translateY(300px);
    }
    70%{
        transform: rotateY(360deg);
    }
}
.vector {
    position: absolute;
right: 200px;
top: 460px;
}
.dots {
    position: absolute;
    right: 230px;
    top: 220px;

}
.dot2 {
    position: absolute;
    right: 900px;
     top: 900px;
}
.x {
    position: absolute;
    right: 250px;
    top: 350px;
}


.line1 {
    position: absolute;
    right: 440px;
    top: 200px;
    background: #000;
    animation: line1 2s infinite;
}
@keyframes line1{
    0%{
        transform: translateX(300px);
    }
    25%{
        transform: translateY(300px);
    }
    70%{
         transform: rotateY(300deg);
    }
}
.group {
    position: absolute;
    background: #000;
    right: 920px;
    top: 530px;
    animation: group 2s infinite;
}
@keyframes group{
    0%{
        transform: translateX(300px);
    }
    25%{
        transform: translateY(300px);
    }
    70%{
        transform: rotateY(300deg);
    }
}
.x1 {
    position: absolute;
    right: 250px;
    top: 660px;
}
.dot3 {
    position: absolute;
    right: 800px;
    top: 750px;
}
/* ADAM */
/* SERVICES */
.services-left h2 {
    color: #8643DC;
font-size: 18px;
font-weight: 400;
}
.services-left h1 {
    color: #25Red202F;
font-size: 36px;
font-weight: 700;
margin: 30px 0;
}
.services-1 h2 {
    color: #25202F;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0;
}
.services-rigt p {
    color: #47444E;
font-size: 16px;
font-weight: 400;
line-height: 32px; /* 200% */
}
.services-1 {
    display: flex;
    align-items: center;
    gap: 20px;
}
 .services-rigt1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
/* SERVICES */
/* PORTFOLIO */
.portfolio {
    margin: 170px 0;
}
.portfolio h2 {
    color: #8643DC;
    font-size: 18px;
    font-weight: 400;
}
.portf1 {
    display: flex;
    justify-content:  space-between;
    align-items: center;
}
.portf1 h1 {
    color: #25202F;
font-size: 36px;
font-weight: 700;
margin: 20px 0;
}
.portf1 h2 {
    color: #25202F;
font-size: 24px;
font-weight: 500;
text-decoration-line: underline;
}

/* PORTFOLIO */
/*  CLIEANTS */
.client1 {
 border-radius: 10px; 
border: 1px solid #FFE7F0;
background: #FFF6FA;
width: 170px;
height: 170px;
margin: 40px 0;
}
.client2 {
    border-radius: 10px;
border: 1px solid #CAFFE1;
background: #EDFFF5;
width: 170px;
height: 170px;
margin: 40px 0;
}
client1 {
width: 170px;
height: 170px;
margin: 40px 0;
}
.border-radius: {
border: 1px solid #DDF5FF;
background: #F5FCFF;.clients
}

.clients h1 {
    color: #25202F;
font-size: 36px;
font-weight: 700;
}
.client1 h2 {
    color: #000;
text-align: center;
font-size: 18px;
font-weight: 500;
}
.client1 {
    text-align: center;
}
.slask {
    margin: 30px 0;
}
.client {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.client2 {
    border-radius: 10px;
border: 1px solid #CAFFE1;
background: #EDFFF5;
width: 170px;
height: 170px;
margin: 40px 0;
}

/*  CLIEANTS */